<!doctype html>
<html lang="en">
<center>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Hello, My name is Brian Mogavero.</h1>
    </div>
    <div>
      <marquee direction="let" behavior="scroll" >
        <h2>{{city}} Weather: {{weather}}</h2>
      </marquee>
      <h3>Current {{city}} Temperature: {{tempF}}</h3>
    </div>
    <div>
      <p class="lead">The local relative humidity is {{hum}}%</p>
      <p class="lead">The local temperature is {{temp}}</p>
    </div>
    <form action="/message" method="post">
      <div class="form-group">
        <label>Enter a message:</label>
        <input type="text" name="message" class="form-control">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Don't Check! </label>
      </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <p></p>
    <p></p>
    <p></p>
    <p></p>

  </body>
</center>
</html>
